### Статистика [Домашнее задание]

**Примечание:**

> Пожалуйста, не удаляйте комментарии или строки кода.

> Пожалуйста, покажите ваше решение, написав процедуру расчета.

**Например:**

Если вы подбросите монету, какова вероятность получить Tails?

**Ваше решение должно выглядеть так:**

```
p_tails = 1 / (2**1) # Хороший пример решения
# p_tails = 0.5 # Плохой пример решения
```

1. Пожалуйста, скачайте набор данных по указанной ссылке и загрузите ```data.csv``` в ```DataFrame```. Кроме того, удалите столбец ```"date"``` из ```DataFrame```.

```
https://www.kaggle.com/shree1992/housedata
```

In [1]:
#Начало вашего кода
import pandas as pd
data = pd.read_csv("data.csv")
data = data.drop("date", axis=1)
#Конец вашего кода
data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

2. Пожалуйста, определите каждый столбец в ```DataFrame```, как количественный ```"quantitative"``` или категориальный ```"categorical"```.

In [2]:
#Начало вашего кода
quantitative_list = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_above', 'sqft_basement']
categorical_list = ['waterfront', 'view', 'condition', 'yr_built', 'yr_renovated', 'street', 'city', 'statezip', 'country']
#Конец вашего кода
print(quantitative_list)
print(categorical_list)

['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_above', 'sqft_basement']
['waterfront', 'view', 'condition', 'yr_built', 'yr_renovated', 'street', 'city', 'statezip', 'country']

### Ожидаемые результаты:

```
['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_above', 'sqft_basement']
['waterfront', 'view', 'condition', 'yr_built', 'yr_renovated', 'street', 'city', 'statezip', 'country']
```

3. Пожалуйста, реализуйте функцию ```mean_value(data,col=None)```, которая будет возвращать среднее значение столбца из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median()``` ,```sum()``` объекта ```DataFrame```.

In [3]:
def mean_value(data, col=None):
    #Начало вашего кода
    summ = 0
    for num in data[col].tolist():
        summ += num
    return summ / len(data[col].tolist())
    #Конец вашего кода
print(mean_value(data, "bedrooms"))

3.4008695652173913

4. Пожалуйста, реализуйте функцию ```median_value(data,col=None)```, которая будет возвращать медиану столбца из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()``` объекта ```DataFrame```.

In [4]:
def median_value(data, col=None):
    #Начало вашего кода
    
    if data[col].size % 2 == 0:
        prev = int(data[col].size / 2 - 1)
        nextt = int(data[col].size / 2  + 1)
        return (data[col].sort_values(ascending=True).tolist()[prev] + data[col].sort_values(ascending=True).tolist()[nextt]) / 2
    else:
        res = int(data[col].size / 2  + 1)
        return data[col].sort_values(ascending=True).tolist()[res]
    
    #Конец вашего кода
print(median_value(data, col="bedrooms"))

3.0

5. Пожалуйста, реализуйте функцию ```weighted_mean_value(data, col=None, weight_col=None)```, которая будет возвращать средневзвешенное значение столбца ```col``` по отношению к ```weight_col``` из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()``` объекта ```DataFrame```.

In [5]:
def weighted_mean_value(data, col=None, weight_col=None):
    #Начало вашего кода
    rows_res = []
    for c, w in zip(data[col].tolist(), data[weight_col].tolist()):
        rows_res.append(c * w)
    col_res_w = 0
    for num in data[weight_col].tolist():
        col_res_w += num
    
    row_res_col = 0
    for num in rows_res:
        row_res_col += num
    
    return row_res_col / col_res_w

print(weighted_mean_value(data, col="bedrooms", weight_col="bathrooms"))
    #Конец вашего кода

3.580799315878166

6. Пожалуйста, реализуйте функцию ```mode_value(data, col=None)```, которая будет возвращать моду столбца ```col``` из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()```,```mode()```объекта ```DataFrame```.

In [6]:
def mode_value(data, col=None):
    #Начало вашего кода
    max_qty = data[col].value_counts().iloc[0]
    max_val = data[col].value_counts().index[0]
    return str(max_val) + " - " + str(max_qty)
    #Конец вашего кода
print(mode_value(data, col="bedrooms"))

3.0 - 2032

7. Пожалуйста, реализуйте функцию ```variability(data, col=None)```, которая будет возвращать размах вариации столбца ```col``` из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()```,```mode()```объекта ```DataFrame```.

In [7]:
def variability(data, col=None):
    #Начало вашего кода    
    return data[col].max() - data[col].min() # Здесь можно было без методов max min обоитись то есть сортировать весь элемент и взять первое значение и последние значие в списке и отнять
print(variability(data, col="bedrooms"))
    #Конец вашего кода

9.0

8. Пожалуйста, реализуйте функцию ```average_linear_deviation(data, col=None)```, которая будет возвращать среднее линейное отклонение столбца ```col``` из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()```,```mode()```объекта ```DataFrame```.

In [26]:
def average_linear_deviation(data, col=None):
    #Начало вашего кода
    summ = 0
    for num in data[col].tolist():
        summ += num
    mean = summ / len(data[col].tolist())
    
    res = 0
    for val in data[col].tolist():
        res += (abs(mean - val))
    
    return res / len(data[col].tolist())
    #Конец вашего кода
print(average_linear_deviation(data, col="bedrooms"))

0.7415190926275954

9. Пожалуйста, реализуйте функцию ```standard_deviation(data, col=None)```, которая будет возвращать cреднеквадратическое отклонение столбца ```col``` из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()```,```mode()```объекта ```DataFrame```.

In [47]:
import math
def standard_deviation(data, col=None):
    #Начало вашего кода
    summ = 0
    for num in data[col].tolist():
        summ += num
    mean = summ / len(data[col].tolist())
    
    res = 0
    for val in data[col].tolist():
        res += ((val - mean) ** 2)
    return  math.sqrt(res / data[col].size)
    #Конец вашего кода
print(standard_deviation(data, col="bedrooms"))
#0.9087493223176885

0.9087493223176885

10. Пожалуйста, реализуйте функцию ```weighted_standard_deviation(data, col=None, weight_col=None)```, которая будет возвращать средневзвешенное отклонение столбца ```col``` по отношению к ```weight_col``` из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()``` объекта ```DataFrame```.

In [44]:

def weighted_standard_deviation(data, col=None, weight_col=None):
    #Начало вашего кода
    mean = weighted_mean_value(data, col=col, weight_col=weight_col)
    summ = 0
    w_summ = 0
    for x, y in zip(data[col].tolist(), data[weight_col].tolist()):
        summ += ((mean - x) ** 2) * y
        w_summ += y
    return math.sqrt(summ / w_summ)
    #Конец вашего кода
print(weighted_standard_deviation(data, col="bedrooms", weight_col="bathrooms"))

0.9160295813244981

11. Пожалуйста, реализуйте функцию ```z_score(data, input=None, col=None)```, которая будет возвращать Z-оценка для ```input``` по отношению к столбцу ```col``` из входного ```DataFrame```. Пожалуйста, не используйте методы ```mean()```, ```std()```, ```median``` ,```sum()``` объекта ```DataFrame```.

In [45]:
def z_score(data, input=None, col=None):
    #Начало вашего кода
    return (input - mean_value(data, col=col)) / standard_deviation(data, col=col)
    #Конец вашего кода
print(z_score(data, 3, col="bedrooms"))

-0.44112227142575167

12. Вы реализовали много функций, а как насчет тестирования этих функций? Пожалуйста, протестируйте каждую функцию, которую вы реализовали, теперь вы можете использовать встроенные методы ```DataFrame``` для проверки.

In [46]:
#Начало вашего кода
print(data["bedrooms"].std())
print(data["bedrooms"].mean())
print(data["bedrooms"].median())
print(data["bedrooms"].mode())

test = data["bedrooms"].iloc[0:6]
weights = data["bathrooms"].iloc[0:6]

# test weighted_mean_value
res_1 = []
for n1, n2 in zip(test.tolist(), weights.tolist()):
    res_1.append(n1 * n2)
results_weighted_mean_value = sum(res_1) / sum(weights)

if weighted_mean_value(data.iloc[0:6, :], col="bedrooms",  weight_col="bathrooms") == results_weighted_mean_value:
    print("correct")
else:
    print("incorrect")

# test variability

result_variability = max(weights.tolist()) - min(weights.tolist())

if variability(data.iloc[0:6, :], col="bathrooms") == result_variability:
    print("correct")
else:
    print("incorrect")

# test average_linear_deviation
mean = weights.mean()
i = 0
for num in weights.tolist():
    i += (abs(mean - num))
result_average_linear_deviation = i / len(weights.tolist())

if average_linear_deviation(data.iloc[0:6, :], col="bathrooms") == result_average_linear_deviation:
    print("correct")
else:
    print("incorrect")
    
# test weighted_standard_deviation
res_i = 0
for num1, num2 in zip(test.tolist(), weights.tolist()):
    res_i += ((results_weighted_mean_value - num1) ** 2)*num2
res_weighted_standard_deviation = pow(res_i / sum(weights.tolist()), 0.5)

if weighted_standard_deviation(data.iloc[0:6, :], col="bedrooms",  weight_col="bathrooms") == res_weighted_standard_deviation:
    print("correct")
else:
    print("incorrect")

#test z_score

res_z_score = (5 - test.mean()) / test.std()
print(res_z_score)
print(z_score(data.iloc[0:6, :], input=5, col="bedrooms"))

# z_score есть небольшая разница в десятых я полагаю встроенный метод math.sqrt отличается от того что применено внутри метода std()
#Конец вашего кода

0.9088481155258205
3.4008695652173913
3.0
0    3.0
dtype: float64
correct
correct
correct
correct
1.6137430609197572
1.7677669529663687

### Отличная работа